.click-btn, #submit-form {
    background: linear-gradient(90deg, rgba(242, 199, 74) 0%, rgba(242, 154, 73, 1) 100%);
}

.click-btn:hover{
    transition-delay: 1s; /* delays for 1 second */
    -webkit-transition-delay: 1s; /* for Safari & Chrome */
    background-color:linear-gradient(90deg, rgba(242, 154, 73, 1) 0%, rgba(242, 199, 74) 100%);
    filter: brightness(120%);
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

#data-science-column {
    max-height: 380px;
    margin-top: -40px;
}

#traditional-process-column {
    max-height: 65%;
    margin-top: -30px;
}

#iq-testimonial {
    margin-bottom: -400px;
}

#competiton-section {
    margin-bottom: -300px;
}

.tabpanel-icon {
    max-height: 82px;
    max-width: 84px;
    left: 0;
    bottom: 0;
}

.sm-icon-img {
    height: auto; 
    width: auto; 
    max-height: 50px;
}
.md-icon-img {
    height: auto; 
    width: auto; 
    max-height: 70px;
}

.left-card:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    border: 1px dotted;
    border-width: 0 0 0 5px;
    width: 1px;
    height: 25px;
    color: #F2C74A;
}

.right-card:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    border: 1px dotted;
    border-width: 0 0 0 5px;
    width: 1px;
    height: 235px;
    color: #F2C74A;
}

#first-panel {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    z-index: 10;
}

.overlay {
    position: absolute;
    z-index: 11;

}

.carousel-img {
    max-width: 84px;
    max-height: 82px;
    display: block;
    margin: auto;
}

.item {
    margin: 0 15px 0 15px;
}

.sub-text {
    color: grey;
}


.tabpanel-title {
    padding: 20px 0px 20px 0px;
    padding-top: 40px;
    text-align: center;
}

.social-media-icon:hover {
    width: 100px;
    -webkit-filter: drop-shadow(3px 3px 3px #222);
    filter: drop-shadow(3px 3px 3px #222);
}

#iq-contact {
    margin-top: 50px;
}

@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
        margin-right: initial;
    }
    
    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}