:root {   
  --primary-color: #F2AE4A;
  --secondary-color: #1e1e1e;
  --linear-color-1: rgb(242, 199, 74);
  --linear-color-2: rgb(242, 174, 74);
  --linear-color-3: rgb(242, 154, 73);
}


/*

#F2C74A
#F2AE4A
#F29A49

(242, 199, 74)
(242, 174, 74)
(242, 154, 73)

*/